@import "tailwindcss";

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: rgb(224, 126, 27);
  --color-secondary-100: rgb(237, 139, 42);
  --color-primary: rgb(241, 241, 242);
  --color-primary-100: rgb(227, 227, 229);
  --color-primary-200: rgb(212, 212, 214);
  --color-disc: rgb(254, 243, 233);
  --color-disc-1: rgb(240, 220, 194);
  --shadow-btnShadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-card: 3px 3px 10px rgba(0, 0, 0, 0.1);
  --animate-blink: blink 2s ease infinite;
}



* {
  box-sizing: border-box;
}
body {
  /* font-family: 'Roboto'; */
  background-color: rgb(241, 241, 242);
  background-image: linear-gradient();
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
