@import "tailwindcss";

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button: rgb(224, 126, 27);
  --color-button-100: rgb(237, 139, 42);
  --shadow-btnShadow: 3px 3px 5px rgba(0, 0, 0, 0.2) ;
  
}

body {
  font-family: 'Roboto';
  background-color: rgb(241, 241, 242);
}
